<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>UdeCuartos</title>

    <link rel="stylesheet" href="./css/style.css" />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css"
      integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l"
      crossorigin="anonymous"
    />
  </head>
  <body>
    <div id="app">
      <nav class="navbar navbar-expand-lg navbar-light bg-light sticky-top">
        <a class="navbar-brand" href="#">Navbar</a>
        <button
          class="navbar-toggler"
          type="button"
          data-toggle="collapse"
          data-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
              <a class="nav-link" href="#"
                >Inicio <span class="sr-only">(current)</span></a
              >
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Ayuda</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Acerca de</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">¡Vuelvete arrendatario!</a>
            </li>
          </ul>
          <form class="form-inline my-2 my-lg-0">
            <button
              class="btn btn-outline-dark my-2 my-sm-0 mr-3"
              type="submit"
            >
              Iniciar sesion
            </button>
            <button class="btn btn-dark my-2 my-sm-0" type="submit">
              Registrarse
            </button>
          </form>
        </div>
      </nav>

      <main>
        <section class="banner py-5">
          <div
            class="
              container
              d-flex
              m-auto
              p-0
              align-items-center
              flex-column
              text-center
            "
          >
          <form @submit.prevent="search" >
            <div class="input-group input-group-lg">
              <input
              type="text"
              class="form-control"
              @keyup.enter="stringSearch"
              v-model="stringSearch"
              />
              <div class="input-group-append">
                <button class="btn btn-dark" type="submit">
                  Buscar
                </button>
              </div>
            </div>
          </form>
          <h1 class="my-3" id="search-result-title"></h1>
          </div>
        </section>

        <section class="container">
          <div class="row row-cols-1 row-cols-md-3 row-cols-lg-3">
              <div class="col" v-for="hospedaje in hospedajes" v-bind="hospedaje.id">
                <div class="card" style="width: 18rem;">
                  <img v-bind:src="hospedaje.imagen" class="card-img-top" alt="...">
                  <div class="card-body">
                    <h5 class="card-title">{{ hospedaje.titulo }}</h5>
                    <p class="card-text">{{ hospedaje.direccion }}</p>
                    <div>
                      <span class="badge badge-info">{{ hospedaje.precio }}</span>
                    </div>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                  </div>
              </div>
          </div>
        </section>
      </main>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script
      src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
      integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-Piv4xVNRyMGpqkS2by6br4gNJ7DXjqk09RmUpJ8jgGtD7zP9yug3goQfGII0yAns"
      crossorigin="anonymous"
    ></script>

    <script src="./js/index.js"></script>
  </body>
</html>
